/*
 * Licensed Materials - Property of IBM
 * "Restricted Materials of IBM"
 * 5724-U18, 5737-M66
 * (C) COPYRIGHT IBM CORP. 2012,2021 All Rights Reserved.
 * US Government Users Restricted Rights - Use, duplication or
 * disclosure restricted by GSA ADP Schedule Contract with
 * IBM Corp.
 *
 */

html, body, #main {
	width: 100%; height: 100%;
	border: 0px; padding: 0px; margin: 0px;
}
#header {
	font-size: 1.5em;
	font-weight: bold;
}
pre {
	padding: 2px;
}
