/*
* Licensed Materials - Property of IBM
* "Restricted Materials of IBM"
* 5724-U18, 5737-M66
* (C) COPYRIGHT IBM CORP. 2006,2021 All Rights Reserved.
* US Government Users Restricted Rights - Use, duplication or
* disclosure restricted by GSA ADP Schedule Contract with
* IBM Corp.
*
*/

@font-face{font-family:'MaximoBase';
			src:local("IBM Plex Sans"), local("IBMPlexSans"), url("../font/Sans/IBMPlexSans-Regular.woff2") format("woff2"),url("../font/Sans/IBMPlexSans-Regular.woff") format("woff");
			font-weight:400;
			font-style:normal;
			unicode-range: 'U+03C0, U+0E3F, U+2070, U+2074-2079, U+2080-2089, U+2113, U+2116, U+2126, U+212E, U+2150-2151, U+2153-215E, U+2190-2199, U+21A9-21AA, U+21B0-21B3, U+21B6-21B7, U+21BA-21BB, U+21C4, U+21C6, U+2202, U+2206, U+220F, U+2211, U+221A, U+221E, U+222B, U+2248, U+2260, U+2264-2265, U+25CA, U+2713, U+274C, U+2B0E-2B11, U+EBE1, U+EBE3-EBE4, U+EBE6-EBE7, U+ECE0, U+EFCC';
			}
@font-face{font-family:'MaximoBase-Italic';
			src:local("IBM Plex Sans Italic"), local("IBMPlexSansItalic"), url("../font/Sans/IBMPlexSans-Italic.woff2") format("woff2"),url("../font/Sans/IBMPlexSans-Italic.woff") format("woff");
			font-weight:400;
			font-style:italic;
  			unicode-range: 'U+03C0, U+0E3F, U+2070, U+2074-2079, U+2080-2089, U+2113, U+2116, U+2126, U+212E, U+2150-2151, U+2153-215E, U+2190-2199, U+21A9-21AA, U+21B0-21B3, U+21B6-21B7, U+21BA-21BB, U+21C4, U+21C6, U+2202, U+2206, U+220F, U+2211, U+221A, U+221E, U+222B, U+2248, U+2260, U+2264-2265, U+25CA, U+2713, U+274C, U+2B0E-2B11, U+EBE1, U+EBE3-EBE4, U+EBE6-EBE7, U+ECE0, U+EFCC';
			}
@font-face {font-family: 'MaximoBase-Light';
		  font-style: normal;
		  font-weight: normal;
		  src: local("IBM Plex Sans Light"), local("IBMPlexSansLight"), url("../font/Sans/IBMPlexSans-Light.woff2") format("woff2"), url("../font/Sans/IBMPlexSans-Light.woff") format("woff");
		  unicode-range: 'U+03C0, U+0E3F, U+2070, U+2074-2079, U+2080-2089, U+2113, U+2116, U+2126, U+212E, U+2150-2151, U+2153-215E, U+2190-2199, U+21A9-21AA, U+21B0-21B3, U+21B6-21B7, U+21BA-21BB, U+21C4, U+21C6, U+2202, U+2206, U+220F, U+2211, U+221A, U+221E, U+222B, U+2248, U+2260, U+2264-2265, U+25CA, U+2713, U+274C, U+2B0E-2B11, U+EBE1, U+EBE3-EBE4, U+EBE6-EBE7, U+ECE0, U+EFCC';
		  }
@font-face{font-family:'MaximoBase-Light-Italic';
			src:local("IBM Plex Sans Light Italic"), local("IBMPlexSansLightItalic"), url("../font/Sans/IBMPlexSans-LightItalic.woff2") format("woff2"),url("../font/Sans/IBMPlexSans-LightItalic.woff") format("woff");
			font-weight:300;
			font-style:italic
			unicode-range: 'U+03C0, U+0E3F, U+2070, U+2074-2079, U+2080-2089, U+2113, U+2116, U+2126, U+212E, U+2150-2151, U+2153-215E, U+2190-2199, U+21A9-21AA, U+21B0-21B3, U+21B6-21B7, U+21BA-21BB, U+21C4, U+21C6, U+2202, U+2206, U+220F, U+2211, U+221A, U+221E, U+222B, U+2248, U+2260, U+2264-2265, U+25CA, U+2713, U+274C, U+2B0E-2B11, U+EBE1, U+EBE3-EBE4, U+EBE6-EBE7, U+ECE0, U+EFCC';
			}
@font-face{font-family:'MaximoBase-Bold';
			src:local("IBM Plex Sans SemiBold"), local("IBMPlexSansSemiBold"), url("../font/Sans/IBMPlexSans-Bold.woff2") format("woff2"),url("../font/Sans/IBMPlexSans-Bold.woff") format("woff");
			font-weight:600;
			font-style:normal
			unicode-range: 'U+03C0, U+0E3F, U+2070, U+2074-2079, U+2080-2089, U+2113, U+2116, U+2126, U+212E, U+2150-2151, U+2153-215E, U+2190-2199, U+21A9-21AA, U+21B0-21B3, U+21B6-21B7, U+21BA-21BB, U+21C4, U+21C6, U+2202, U+2206, U+220F, U+2211, U+221A, U+221E, U+222B, U+2248, U+2260, U+2264-2265, U+25CA, U+2713, U+274C, U+2B0E-2B11, U+EBE1, U+EBE3-EBE4, U+EBE6-EBE7, U+ECE0, U+EFCC';
			}
@font-face{font-family:'MaximoBase-Bold-Italic';
			src:local("IBM Plex Sans SemiBold Italic"), local("IBMPlexSansSemiBoldItalic"), url("../font/Sans/IBMPlexSans-BoldItalic.woff2") format("woff2"),url("../font/Sans/IBMPlexSans-BoldItalic.woff") format("woff");
			font-weight:600;
			font-style:italic
			unicode-range: 'U+03C0, U+0E3F, U+2070, U+2074-2079, U+2080-2089, U+2113, U+2116, U+2126, U+212E, U+2150-2151, U+2153-215E, U+2190-2199, U+21A9-21AA, U+21B0-21B3, U+21B6-21B7, U+21BA-21BB, U+21C4, U+21C6, U+2202, U+2206, U+220F, U+2211, U+221A, U+221E, U+222B, U+2248, U+2260, U+2264-2265, U+25CA, U+2713, U+274C, U+2B0E-2B11, U+EBE1, U+EBE3-EBE4, U+EBE6-EBE7, U+ECE0, U+EFCC';
			}