<maximo-application 
  type="shell" 
  controller="AppController"
  product-name="{app.state.productName || 'Maximo Application Suite'}" 
  title="{app.state.title || 'Manage'}" 
  banner-type="{app.state.bannerType || 'blue'}" 
  banner-title="{app.state.bannerTitle || ''}"
  id="manage-shell" 
  mas-id="manage"
  version="9.0.0.0"
  mas-enabled="true"
  default-log-level="trace" 
  header-actions="{app.getHeaderActions()}"
  profile-actions="{app.getProfileActions()}" 
  help-actions="{app.getHelpActions()}"
  has-side-nav="{app.state.hasSideNav}"
  hide-menu-button="{app.state.hideMenuButton}"
  on-side-nav-toggled="{app.toggleSideNav(event)}"
  getting-started-link="https://www.ibm.com/docs/en/maximo-manage/continuous-delivery?topic=getting-started-maximo-manage"
  documentation-link="https://www.ibm.com/docs/en/maximo-manage/continuous-delivery"
  whats-new-link="https://www.ibm.com/docs/en/maximo-manage/continuous-delivery?topic=overview-whats-new-in-maximo-manage"
  >
  <user-profile slot="user-profile-items" on-logout="{app.cleanUp()}" id="g4az8">
  </user-profile>
  <pages id="pages">
    <page id="main" padding="false"></page>
  </pages>
</maximo-application>
