/* CSS styles for Samples.xml */

/* The four small edits in the Special box */
.TextFixed {
   height:14px; white-space:nowrap; overflow:hidden; background:#FFB; padding:2px 5px 2px 5px; border:1px solid #ccc; border-radius:10px;
   font:12px/14px "Microsoft Sans Serif",Tahoma,"Trebuchet MS",sans-serif;
   }

/* The icons for dependencies in Special box */
.SVGIcon2 { fill:#FFEEAF; stroke:brown; stroke-width:1; }
.SVGIcon2:hover { stroke:blue; }

.SamplesAlarm { background:url(SamplesAlarm.svg) no-repeat; background-size:cover; }
.SamplesAlarmHover { background:url(SamplesAlarmHover.svg) no-repeat; background-size:cover; }