<maximo-application product-name="Maximo Application Suite" controller="AppController" title="Manage" id="WQMANAGER" mas-id="manage" has-search="true" version="9.0.0.0">
  <messages id="mnrwa">
    <message id="create_wq_name_reqd" text="Work queue name is required."/>
    <message id="create_wq_query_name_reqd" text="A valid query string is required."/>
    <message id="create_wq_field_available_reqd" text="Field selection is required."/>
    <message id="work_queues_brdcrumb" text="Work queues"/>
    <message id="create_wq_query_priority_reqd" text="Select a valid priority of 1 and above."/>
    <message id="create_wq_app_name_reqd" text="Select valid launch application."/>
    <message id="create_wq_valid_OS_reqd" text="Please select valid object structure."/>
  </messages>
  <states id="rewgb">
    <state name="selectedOS" value="MXAPIWODETAIL" type="string" id="var9m"/>
    <state name="schemaDsItemUrl" value="/oslc/jsonschemas/MXAPIWODETAIL" type="string" id="b9dkj"/>
    <state name="queryDsItemUrl" value="/oslc/allqueries/MXAPIWODETAIL" type="string" id="evkb4"/>
    <state name="selectedOsRootObj" value="WORKORDER" type="string" id="qz6ed"/>
    <state name="thisQueuename" value="NULL" type="string" id="yra5d"/>
    <state name="selectedWQ" type="string" id="xx4vq"/>
  </states>
  <maximo-datasource id="mxAppsDs" object-structure="MXAPIMAXAPP" clear-selection-on-search="true" where="MAINTBNAME=&quot;{app.state.selectedOsRootObj}&quot;" reset-datasource="true" selection-mode="single">
    <schema id="bzvbd">
      <attribute name="app" searchable="true" id="exyxp"/>
      <attribute name="description" searchable="true" id="byjjm"/>
    </schema>
  </maximo-datasource>
  <maximo-datasource id="intOsDs" object-structure="MXAPIINTOBJECT" where="USEWITH=&quot;INTEGRATION&quot;" clear-selection-on-search="true" reset-datasource="true" selection-mode="single">
    <schema id="r5nvw">
      <attribute name="intobjectname" title="Object Structure" searchable="true" id="p3z58"/>
      <attribute name="description" title="Description" searchable="true" id="ag6g2"/>
    </schema>
  </maximo-datasource>
  <maximo-datasource id="workqueueListDS" object-structure="mxapiworkqueue" selection-mode="none" pre-load="false" page-size="10" include-counts="true" order-by="queuename">
    <schema id="gmbd_">
      <attribute name="queuename" title="Work queue name" unique-id="true" searchable="true" id="pmbq3"/>
      <attribute name="description" searchable="true" id="qg2na"/>
      <attribute name="priority" searchable="true" id="bra8d"/>
      <attribute name="app" searchable="true" id="prvqm"/>
      <attribute name="intobjectname" searchable="true" id="b_p49"/>
      <attribute name="clausename" searchable="true" id="megre"/>
      <attribute name="isactive" title="State" searchable="false" id="mad_g"/>
      <attribute name="queuetype" id="a97vd"/>
      <attribute name="owner" id="g25ae"/>
      <attribute name="langcode" id="yx73z"/>
      <attribute name="itemcount" id="z2y58"/>
    </schema>
  </maximo-datasource>
  <maximo-datasource id="createWorkQueueDS" object-structure="mxapiworkqueue" where="queuename=&quot;0&quot;" auto-save="false">
    <schema id="jnaje">
      <attribute name="workqueueid" unique-id="true" id="an95y"/>
      <attribute name="queuename" id="j3xwz"/>
      <attribute name="description" id="mbmzv"/>
      <attribute name="priority" id="w_adp"/>
      <attribute name="app" id="z7jd6"/>
      <attribute name="intobjectname" id="p877q"/>
      <attribute name="clausename" id="a_e6x"/>
      <attribute name="isactive" id="y65a6"/>
    </schema>
    <maximo-datasource id="workqueuecols" clear-selection-on-search="false" depends-on="createWorkQueueDS" object-name="workqueuecols">
      <schema id="mx7a4">
        <attribute name="queuename" id="wkxmk"/>
        <attribute name="attributename" id="kxnyq"/>
        <attribute name="columnorder" id="wej9y"/>
      </schema>
    </maximo-datasource>
    <maximo-datasource id="workqueueactions" depends-on="createWorkQueueDS" object-name="workqueueactions">
      <schema id="d6_wx">
        <attribute name="queuename" searchable="true" id="be87m"/>
        <attribute name="action" searchable="true" id="mmkbx"/>
        <attribute name="actionlabel" id="yw689"/>
        <attribute name="actionorder" id="mmdgm"/>
      </schema>
    </maximo-datasource>
  </maximo-datasource>
  <maximo-datasource id="deleteWorkQueueDS" object-structure="mxapiworkqueue" where="queuename=&quot;{app.state.selectedWQ}&quot;" pre-load="false">
    <schema id="vj7_g">
      <attribute name="workqueueid" unique-id="true" id="q3z7g"/>
      <attribute name="queuename" id="barpp"/>
      <attribute name="description" id="p4q3b"/>
      <attribute name="priority" id="xpjk2"/>
      <attribute name="app" id="pkv6k"/>
      <attribute name="intobjectname" id="wpqbn"/>
      <attribute name="clausename" id="pn2ke"/>
      <attribute name="isactive" id="vw7v7"/>
    </schema>
    <maximo-datasource id="delWorkqueuecols" relationship="workqueuecols" order-by="columnorder" object-name="workqueuecols">
      <schema id="g4z7b">
        <attribute name="WORKQUEUECOLSID" unique-id="true" id="k3pmq"/>
        <attribute name="queuename" id="d7w_k"/>
        <attribute name="attributename" id="evm6g"/>
        <attribute name="columnorder" id="yrgx9"/>
      </schema>
    </maximo-datasource>
    <maximo-datasource id="delWorkqueueactions" relationship="workqueueactions" order-by="actionorder" object-name="workqueueactions">
      <schema id="ngdkz">
        <attribute name="WORKQUEUEACTIONSID" unique-id="true" id="xn4e7"/>
        <attribute name="queuename" searchable="true" id="gaxjn"/>
        <attribute name="action" searchable="true" id="qeqp7"/>
        <attribute name="actionlabel" id="evvm9"/>
        <attribute name="actionorder" id="ab_z4"/>
      </schema>
    </maximo-datasource>
  </maximo-datasource>
  <maximo-datasource id="maximoAllqueriesDS" object-structure="{app.state.selectedOS}" selection-mode="single" pre-load="true"   page-size="10000"   reset-datasource="true" order-by="name ascending" item-url="{app.state.queryDsItemUrl}">
    <schema id="vw5wy">
      <attribute name="name" id="xkbd6"/>
      <attribute name="title" id="vxw59"/>
    </schema>
  </maximo-datasource>
  <json-datasource id="allqueriesDS" src="{[]}" items="items" selection-mode="single" controller="CreateWorkQueueController" schema="schema" clear-selection-on-search="true" id-attribute="_id">
    <schema id="qqk55">
      <attribute name="name" title="Query" id="x3brj"/>
      <attribute name="title" title="Description" id="pdrda"/>
    </schema>
  </json-datasource>
  <maximo-datasource id="maximoSchemaDS" object-structure="{app.state.selectedOS}" pre-load="false" order-by="title ascending" item-url="{app.state.schemaDsItemUrl}" controller="CreateWorkQueueController">
    <schema id="e9enw">
      <attribute name="*" id="peg77"/>
    </schema>
  </maximo-datasource>
  <maximo-datasource id="actionsAvailableDS" clear-selection-on-search="false" object-structure="MXAPIACTION" pre-load="true" reset-datasource="true" order-by="action ascending" where="objectname=&quot;{app.state.selectedOsRootObj}&quot;" item-url="/oslc/os/mxapiaction?" controller="CreateWorkQueueController" id-attribute="action">
    <schema id="q6988">
      <attribute name="action" searchable="true" id="r4der"/>
    </schema>
  </maximo-datasource>
  <maximo-datasource id="availablePersonGroupDS" object-structure="mxapipersongroup" selection-mode="multiple" clear-selection-on-search="false" lookup-data="true" controller="CreateWorkQueueController" id-attribute="persongroup" pre-load="true" order-by="persongroup ascending">
    <schema id="q98aa">
      <attribute name="persongroup" title="Group" searchable="true" id="y_qgy"/>
      <attribute name="description" title="Description" searchable="true" id="p5bb7"/>
    </schema>
  </maximo-datasource>
  <json-datasource id="actionsSelectedDS" src="{[]}" items="items" clear-selection-on-search="false" selection-mode="none" pre-load="true" controller="CreateWorkQueueController" schema="schema">
    <schema id="k9jpd">
      <attribute name="action" searchable="true" id="j6r6_"/>
    </schema>
  </json-datasource>
  <json-datasource id="fieldsAvailableDS" src="{[]}" page-size="500" clear-selection-on-search="false" items="items" selection-mode="multiple" controller="CreateWorkQueueController" pre-load="false" schema="schema" id-attribute="title"/>
  <json-datasource id="fieldsSelectedDS" src="{[]}" items="items" clear-selection-on-search="false" selection-mode="none" pre-load="true" controller="CreateWorkQueueController" schema="schema">
    <schema id="dpyn7">
      <attribute name="title" id="n6eej"/>
    </schema>
  </json-datasource>
  <json-datasource id="selectedPersonGroupDS" src="{[]}" page-size="500" clear-selection-on-search="false" items="items" selection-mode="none" pre-load="true" schema="schema" controller="CreateWorkQueueController" id-attribute="persongroup">
    <schema id="qpzmp">
      <attribute name="persongroup" id="w2p4y"/>
      <attribute name="description" id="qkde9"/>
    </schema>
  </json-datasource>
  <maximo-datasource id="deletePersonGroupDS" object-structure="mxapiobjectauth" selection-mode="none" id-attribute="secureobjectid" controller="CreateWorkQueueController" pre-load="false" where="objectname=&quot;MXAPIOBJECTAUTH&quot; and objectid=&quot;{app.state.selectedWQ}&quot;">
    <schema id="y9nzp">
      <attribute name="secureobjectid" unique-id="true" id="qd9j9"/>
      <attribute name="objectname" id="jw6by"/>
      <attribute name="objectid" id="g_yjp"/>
      <attribute name="owner" id="arj8v"/>
      <attribute name="objectauth" id="k873_"/>
    </schema>
  </maximo-datasource>
  <dialogs id="y9jx5">
    <dialog id="editAction" title="Edit action display name" primary-action-text="OK" secondary-action-text="Cancel" on-primary-action="save" on-primary-action-arg="{true}" on-secondary-action="cancel" on-secondary-action-arg="{false}">
      <smart-input value="{workqueueListDS.item.finishdate}" label="Action display name" id="v8d75"/>
    </dialog>
    <lookup id="queryLookup" size="default" show-count="false" can-reorder-columns="false" lookup-heading="Select Query" datasource="allqueriesDS" border="true" show-search="true" tight="false" lookup-attributes="{['name','title']}">
      <lookup-table-column name="name" width="100" id="qy2xa"/>
      <lookup-table-column name="title" width="100" id="x82vv"/>
    </lookup>
    <dialog id="ObjectStructureDialog" title="Select object structure" controller="CreateWorkQueueController" primary-action-text="OK" on-primary-action="chooseObjectStructure" on-primary-action-arg="{{'datasource': intOsDs}}" secondary-action-text="Cancel">
      <table row-height="normal" display-row-count="false" rows-per-page="8" select-mode="single" datasource="intOsDs" can-filter="true" can-reorder-columns="false" id="vb37v">
        <table-column name="intobjectname" label="Object Structure" id="b8rkb"/>
        <table-column name="description" label="Description" id="kyry2"/>
      </table>
    </dialog>
    <dialog id="MxAppDialog" title="Select launch application" controller="CreateWorkQueueController" primary-action-text="OK" on-primary-action="chooseLaunchApplication" on-primary-action-arg="{{'datasource': mxAppsDs}}" secondary-action-text="Cancel">
      <table row-height="normal" display-row-count="false" rows-per-page="8" select-mode="single" datasource="mxAppsDs" can-filter="true" can-reorder-columns="false" id="p5aak">
        <table-column name="app" label="Application" id="qn_av"/>
        <table-column name="description" label="Description" id="aj9y_"/>
      </table>
    </dialog>
    <lookup id="selectPersonGroupLookup" size="lg" lookup-heading="Add person groups" list-header-label="Selected groups" datasource="availablePersonGroupDS" border="true" can-filter="false" show-count="false" can-reorder-columns="false" show-search="true" tight="false" lookup-attributes="{['persongroup', 'description']}" height="400" width="60" has-list="true" on-primary-action="onSelectPersonGroupLookupOkClick" list-header-button-label="Clear all" list-lookup-attributes="{['persongroup']}">
      <lookup-table-column name="persongroup" id="k6q2r"/>
      <lookup-table-column name="description" id="nr4ww"/>
    </lookup>
    <dialog id="deleteWqConfirmationDialog" title="Confirm delete" danger="true" primary-action-text="Delete" secondary-action-text="Cancel" on-primary-action="deleteWQ" on-primary-action-arg="{true}" on-secondary-action="cancel" on-secondary-action-arg="{false}">
      <label label="Deleting work queue will permanently remove it.This action cannot be undone." id="nn_2a"/>
    </dialog>
  </dialogs>
  <pages id="pages">
    <page id="wqListPage" controller="CreateWorkQueueController">
      <states id="yb_nv">
        <state name="stateReadonly" value="false" type="boolean" id="zx7_y"/>
      </states>
      <header-template title="Work queues" hide-breadcrumb="true" enable-white-background="true" id="ywv4p">
        <button label="Create work queue" icon="carbon:add" slot="buttons" page="CreateWorkQueue" kind="secondary" id="b67rg"/>
      </header-template>
      <box direction="column" vertical-align="center" id="ez3q6">
        <table datasource="workqueueListDS" no-data-message="You don't have any work queues yet." id="workqueueTable" can-reorder-columns="false" can-filter="false" use-advanced-filters="false" display-row-count="true" can-resize="true" can-download="true" select-mode="none" clear-selection-on-batch-action="false" lookup-heading="Manage columns">
          <table-column name="queuename" id="xgvmn"/>
          <table-column name="description" id="xwjpr"/>
          <table-column name="intobjectname" label="Object structure" id="dampq"/>
          <table-column name="clausename" label="Query" id="k9xrp"/>
          <table-column name="app" label="App" id="dakmy"/>
          <table-column name="owner" id="kka23"/>
          <table-column name="priority" align="start" id="arp4g"/>
          <table-column name="itemcount" align="start" id="wz22z"/>
          <table-column name="isactive" align="start" id="kgnq7">
            <box padding-start="0.2" padding-bottom="0.2" id="qjqzz">
              <toggle size="sm" label="" toggle-label-off="Inactive" readonly="{page.state.stateReadonly}" toggle-label-on="Active" left-align-label="false" toggled="{item.isactive}" type="TrueFalse" on-toggle="updateIsActiveFlag" on-toggle-arg="{item}" id="zxd9n"/>
            </box>
          </table-column>
          <row-actions id="n9n4g">
            <row-action on-action="displayEditWorkQueuePage" icon-description="Edit work queue" on-action-arg="{{'item':event.item}}" icon="carbon:edit" overflow="false" id="eyx_a"/>
            <row-action on-action="openDeleteDlg" icon-description="Delete work queue" hidden-attribute="isactive" on-action-arg="{{'item':event.item}}" icon="carbon:delete" overflow="false" id="a47kp"/>
          </row-actions>
        </table>
      </box>
    </page>
    <page id="CreateWorkQueue" controller="CreateWorkQueueController">
      <maximo-datasource id="assignedPersonGroupDSNew" object-structure="mxapiobjectauth" selection-mode="none" pre-load="true" id-attribute="secureobjectid" where="objectname=&quot;MXAPIOBJECTAUTH&quot; and objectid=&quot;{app.state.thisQueuename}&quot;">
        <schema id="a2ng6">
          <attribute name="secureobjectid" unique-id="true" id="wn9d7"/>
          <attribute name="objectname" id="r8n_v"/>
          <attribute name="objectid" id="z_347"/>
          <attribute name="owner" id="b_x_9"/>
          <attribute name="objectauth" id="j9x8a"/>
        </schema>
      </maximo-datasource>
      <header-template title="Create work queue" mode="sticky" hide-breadcrumb="false" enable-white-background="true" id="j6rgq"/>
      <border-layout fill-parent="true" padding="false" id="vnb9e">
        <start width="50" id="nq8n9">
          <box fill-parent="true" fill-child="false" id="ay9kx">
            <progress-wizard current-step-id="{page.state.progressWizardcurrentStepId}" is-clickable="false" set-step="onSetStep" error="{page.state.stepErrorWithCustomBtn}" on-clear-error="{app.toast('Error notification closed')}" id="l3s2ad" is-progress-indicator-vertical="false">
              <progress-wizard-step id="stepitem1" label="1.Define work queue">
                <smart-input id="queuename" value="{createWorkQueueDS.item.queuename}" required="true" max="25" label="Name"/>
                <smart-input id="description" value="{createWorkQueueDS.item.description}" label="Description"/>
                <number-input id="priority" label="Priority" min="1" max="4" helper-text="1 = Urgent, 2 = High, 3 = Medium, 4 = Low" invalid-text="Valid values for priority are 1-4" value="{createWorkQueueDS.item.priority}"/>
                <label label="Add person groups that will access the query. If no person groups are added the queue will be public." theme="medium" id="b4n4w"/>
                <box padding-start="-0.5" padding-end="-0.5" direction="column" vertical-align="start" padding-top="-1" id="n8647">
                  <table datasource="selectedPersonGroupDS" no-data-message="You don’t have any person groups yet." title="Person groups" select-mode="none" can-reorder-columns="false" can-filter="false" id="q9awy">
                    <toolbar-actions id="k7b33">
                      <button slot="action-button" icon="carbon:user--admin" label="Add person groups" lookup="selectPersonGroupLookup" kind="secondary" padding="false" id="mgxyz"/>
                    </toolbar-actions>
                    <table-column name="persongroup" label="Group name" id="qe3q8"/>
                    <table-column name="description" label="Group description" id="azdq_"/>
                  </table>
                </box>
              </progress-wizard-step>
              <progress-wizard-step id="stepitem2" label="2.Define query">
                <smart-input label="Object structure" size="small" required="true" value="{createWorkQueueDS.item.intobjectname}" enable-lookup-buttongroup="true" id="ba_xr">
                  <button slot="button-group" kind="ghost" label="Search" icon="Carbon:search" on-click="openObjectStructDlg" id="zgrn4"/>
                </smart-input>
                <smart-input label="Query" size="medium" required="true" value="{createWorkQueueDS.item.clausename}" enable-lookup-buttongroup="true" select-lookup-attribute="name" id="jwr8a">
                  <button slot="button-group" kind="ghost" label="Search" icon="Carbon:search" lookup="queryLookup" id="wbb8e"/>
                </smart-input>
                <smart-input label="Launch application" size="small" required="true" value="{createWorkQueueDS.item.app}" enable-lookup-buttongroup="true" id="j5bwb">
                      <button slot="button-group" kind="ghost" label="Search" icon="Carbon:search" on-click="openMxAppDlg" id="e_5jz"/>
                </smart-input>
                <smart-input label="Work queue state" toggle-label-off="Inactive" toggle-label-on="Active" toggle-type="OnOff" value="{createWorkQueueDS.item.isactive}" hide-label="{page.state.hideLabel}" readonly="{page.state.readOnlyState}" loading="{page.state.loadingState}" id="bww4m"/>
                <box padding-top="1.5" padding-bottom="1" id="gjmrx">
                  <label label="Select the fields to be displayed in the query table" theme="medium" id="b8vbp"/>
                </box>
                <border-layout fill-parent="true" id="py6dk">
                  <start id="w84bg">
                    <data-list datasource="fieldsAvailableDS" show-search="true" title="Available fields" attributes="{['title']}" height="400" width="350px" tight="true" theme="light" selected-background-color="field-01" background-color="field-01" no-data-icon="" id="r3rad">
                      <list-item id="b58e6">
                        <border-layout fill-parent="true" padding="false" id="ab6yn">
                          <middle horizontal-overflow="hidden" id="dz36_">
                            <field value="{item.title}" field-class-name="default" padding="default" hide-label="true" id="q492g"/>
                          </middle>
                        </border-layout>
                      </list-item>
                    </data-list>
                  </start>
                  <middle width="5" id="g6q43">
                    <box padding=".5" id="xqvmy"/>
                  </middle>
                  <end id="rbr5x">
                    <data-list show-search="false" datasource="fieldsSelectedDS" title="Selected fields" height="500" width="350px" tight="true" theme="light" selected-background-color="field-01" empty-row-style="true" data-list-drag-key="datalist" empty-set-string="Select fields from the available fields list" background-color="field-01" no-data-icon="" data-list-drop-key="datalist" id="xgjwb">
                      <list-item id="qkjnz">
                        <border-layout fill-parent="true" padding="false" id="ay7g5">
                          <middle horizontal-overflow="hidden" id="k_k7n">
                            <field value="{item.title}" field-class-name="default" padding="default" hide-label="true" id="d6n6a"/>
                          </middle>
                          <end horizontal-align="end" horizontal-overflow="hidden" id="qmaeq">
                            <button icon="carbon:close--outline" id="qywyk" kind="ghost" on-click="removeSeletedItem" on-click-arg="{item}" padding="false"/>
                          </end>
                        </border-layout>
                      </list-item>
                    </data-list>
                  </end>
                </border-layout>
              </progress-wizard-step>
              <progress-wizard-step id="stepitem3" label="3.Add actions" secondary-label="Optional">
                <box padding-bottom="1" id="jpm9z">
                  <label label="Select actions to be applied to query items" theme="medium" id="nw2pvpds"/>
                </box>
                <border-layout fill-parent="true" id="wrbwy">
                  <start id="b9prb">
                    <data-list datasource="actionsAvailableDS" title="Available actions" attributes="{['action']}" border="true" height="400" width="350px" tight="true" data-list-drop-key="datalist" selected-background-color="field-01" background-color="field-01" no-data-icon="" id="jwzj_">
                      <list-item id="w_n6_">
                        <border-layout fill-parent="true" padding="false" id="kxj49">
                          <middle horizontal-overflow="hidden" id="y7gr3">
                            <field value="{item.action}" field-class-name="default" padding="default" hide-label="true" id="w5xx4"/>
                          </middle>
                        </border-layout>
                      </list-item>
                    </data-list>
                  </start>
                  <middle width="5" id="q75j3">
                    <box padding=".5" id="d_mk_"/>
                  </middle>
                  <end id="yyd9d">
                    <data-list show-search="false" datasource="actionsSelectedDS" title="Selected actions" border="true" height="500" width="350px" tight="true" data-list-drag-key="datalist" selected-background-color="field-01" no-data-icon="" empty-set-string="Select actions from the available actions list" data-list-drop-key="datalist" background-color="field-01" empty-row-style="true" id="wymva">
                      <list-item id="grgwk">
                        <border-layout fill-parent="true" padding="false" id="qypy4">
                          <!-- <start horizontal-align="start" horizontal-overflow="hidden" id="vym9j">
                                <button icon="carbon:edit" kind="ghost" dialog="editAction" padding="false" id="yw6wp"/>
                              </start> -->
                          <middle horizontal-overflow="hidden" id="a5z6v">
                            <field value="{item.action}" field-class-name="default" padding="default" hide-label="true" id="dmm5z"/>
                          </middle>
                          <end horizontal-align="end" horizontal-overflow="hidden" id="g875j">
                            <button icon="carbon:close--outline" kind="ghost" on-click="removeSeletedItem" on-click-arg="{item}" padding="false" id="raqb8"/>
                          </end>
                        </border-layout>
                      </list-item>
                    </data-list>
                  </end>
                </border-layout>
              </progress-wizard-step>
            </progress-wizard>
          </box>
        </start>
      </border-layout>
      <content-docker docked-position="bottom" background-color="#FFFFFF" id="xqywq">
        <box direction="row" vertical-align="center" id="ajdw_">
          <box id="md6d6">
            <button label="Cancel" on-click="onStepReset" icon="carbon:close" on-click-arg="true" padding="true" kind="tertiary" id="nbcxf7f"/>
            <button label="Back" on-click="getPreviousStep" disabled="{!page.state.progressWizardHasPrev}" icon="carbon:chevron--left" kind="secondary" id="hju7fgh"/>
            <button label="Next" on-click="getNextStep" hidden="{page.state.progressWizardcurrentStepId==page.state.progressWizardStepIds[2]}" icon="carbon:chevron--right" id="o86th"/>
            <button label="Create" hidden="{page.state.progressWizardcurrentStepId!=page.state.progressWizardStepIds[2]}" on-click="saveWorkQueue" icon="carbon:chevron--right" id="wtr5hf"/>
          </box>
        </box>
      </content-docker>
    </page>
    <page id="EditWorkQueue" controller="CreateWorkQueueController">
      <maximo-datasource id="editWorkQueueDS" id-attribute="workqueueid" object-structure="mxapiworkqueue" where="queuename=&quot;{page.params.queuename}&quot;" item-url="{page.params.href}" auto-save="false" controller="CreateWorkQueueController">
        <schema id="nmp4k">
          <attribute name="workqueueid" unique-id="true" id="g8nn5"/>
          <attribute name="queuename" id="gv3wk"/>
          <attribute name="description" id="vpx36"/>
          <attribute name="priority" id="ppm82"/>
          <attribute name="app" id="x6wwx"/>
          <attribute name="intobjectname" id="bdaae"/>
          <attribute name="clausename" id="egrmv"/>
          <attribute name="isactive" id="jeq_b"/>
        </schema>
        <maximo-datasource id="editedworkqueuecols" selection-mode="none" pre-load="true" relationship="workqueuecols" order-by="columnorder" controller="CreateWorkQueueController">
          <schema id="jepr9">
            <attribute name="queuename" id="q2be4"/>
            <attribute name="attributename--title" id="kjbxm"/>
            <attribute name="columnorder" id="an2wk"/>
          </schema>
        </maximo-datasource>
        <maximo-datasource id="editworkqueueactions" selection-mode="none" relationship="workqueueactions" order-by="actionorder" controller="CreateWorkQueueController">
          <schema id="bjr_q">
            <attribute name="queuename" id="xaqym"/>
            <attribute name="action" id="ydzad"/>
            <attribute name="actionlabel" id="bdpyp"/>
            <attribute name="actionorder" id="ap79m"/>
          </schema>
        </maximo-datasource>
      </maximo-datasource>
      <json-datasource id="editActionsSelectedDS" src="{[]}" items="items" selection-mode="none" pre-load="true" controller="CreateWorkQueueController" schema="schema">
        <schema id="g8xgv">
          <attribute name="action" id="q93dj"/>
        </schema>
      </json-datasource>
      <json-datasource id="editFieldsSelectedDS" src="{[]}" items="items" selection-mode="none" pre-load="true" controller="CreateWorkQueueController" id-attribute="_id" schema="schema">
        <schema id="zxxk4">
          <attribute name="title" searchable="true" id="p6395"/>
        </schema>
      </json-datasource>
      <maximo-datasource id="assignedPersonGroupDS" object-structure="mxapiobjectauth" selection-mode="none" pre-load="true" id-attribute="secureobjectid" where="objectname=&quot;MXAPIOBJECTAUTH&quot; and objectid=&quot;{app.state.thisQueuename}&quot;">
        <schema id="ev38m">
          <attribute name="secureobjectid" unique-id="true" id="gdknj"/>
          <attribute name="objectname" id="xyakm"/>
          <attribute name="objectid" id="zjxnm"/>
          <attribute name="owner" id="eqvzk"/>
          <attribute name="objectauth" id="vx3pk"/>
        </schema>
      </maximo-datasource>
      <header-template title="{editWorkQueueDS.item.queuename}" hide-breadcrumb="false" mode="sticky" enable-white-background="true" id="mwgn_"/>
      <border-layout fill-parent="true" padding="false" id="xm_dd">
        <start width="50" id="e4rd8">
          <box fill-parent="true" fill-child="false" id="gwy84">
            <progress-wizard current-step-id="{page.state.progressWizardcurrentStepId}" is-clickable="false" set-step="onSetStep" error="{page.state.stepErrorWithCustomBtn}" on-clear-error="{app.toast('Error notification closed')}" is-progress-indicator-vertical="false" id="dkyyy">
              <progress-wizard-step id="stepitem4" label="1.Define work queue">
                <smart-input value="{editWorkQueueDS.item.queuename}" max="25" label="Name" readonly="true" id="r_4jj"/>
                <smart-input value="{editWorkQueueDS.item.description}" label="Description" id="k5y9y"/>
                <number-input id="editPriority" label="Priority" min="1" max="4" helper-text="1 = Urgent, 2 = High, 3 = Medium, 4 = Low" invalid-text="Valid values for priority are 1-4" value="{editWorkQueueDS.item.priority}"/>
                <label label="Add person groups that will access the query. If no person groups are added the queue will be public." theme="medium" id="p_yb4"/>
                <box padding-start="-0.5" padding-end="-0.5" direction="column" vertical-align="start" padding-top="-1" id="egebn">
                  <table datasource="selectedPersonGroupDS" title="Person groups" select-mode="none" can-reorder-columns="false" can-filter="false" id="x3a9x">
                    <toolbar-actions id="n367n">
                      <button slot="action-button" icon="carbon:user--admin" label="Add person groups" lookup="selectPersonGroupLookup" kind="secondary" padding="false" id="pryga"/>
                    </toolbar-actions>
                    <table-column name="persongroup" label="Group name" id="jb5k2"/>
                    <table-column name="description" label="Group description" id="g8wk3"/>
                  </table>
                </box>
              </progress-wizard-step>
              <progress-wizard-step id="stepitem5" label="2.Define query">
                <adaptive-column small-width="100" medium-width="50" large-width="50" id="m2b8z">
                  <smart-input label="Object structure" size="small" required="true" value="{editWorkQueueDS.item.intobjectname}" readonly="true" id="zv4by"/>
                </adaptive-column>
                <smart-input label="Query" size="medium" required="true" value="{editWorkQueueDS.item.clausename}" enable-lookup-buttongroup="true" select-lookup-attribute="name" id="vvkgv">
                  <button slot="button-group" kind="ghost" label="Search" icon="Carbon:search" lookup="queryLookup" id="d478z"/>
                </smart-input>
                <smart-input label="Launch application" size="small" required="true" value="{editWorkQueueDS.item.app}" readonly="true" id="qz2jp"/>
                <smart-input label="Work queue state" toggle-label-off="Inactive" toggle-label-on="Active" toggle-type="OnOff" value="{editWorkQueueDS.item.isactive}" hide-label="{page.state.hideLabel}" readonly="{page.state.readOnlyState}" loading="{page.state.loadingState}" id="wkxj5"/>
                <box padding-bottom="1" id="axbv7">
                  <label label="Select fields to be displayed in the query table" theme="medium" id="p8y_w"/>
                </box>
                <border-layout fill-parent="true" id="b273k">
                  <start id="nv3v_">
                    <data-list datasource="fieldsAvailableDS" title="Available fields" attributes="{['title']}" height="400" width="350px" tight="true" selected-background-color="field-01" background-color="field-01" no-data-icon="" id="wy4by">
                      <list-item id="vbmmw">
                        <border-layout fill-parent="true" padding="false" id="dwk9k">
                          <middle horizontal-overflow="hidden" id="xb3wv">
                            <field value="{item.title}" field-class-name="default" padding="default" hide-label="true" id="k2xeq"/>
                          </middle>
                        </border-layout>
                      </list-item>
                    </data-list>
                  </start>
                  <middle width="5" id="qzmkz">
                    <box padding=".5" id="db7dn"/>
                  </middle>
                  <end id="jqngx">
                    <data-list show-search="false" datasource="editFieldsSelectedDS" title="Selected fields" height="400" width="350px" tight="true" data-list-drag-key="datalist" selected-background-color="field-01" data-list-drop-key="datalist" empty-set-string="Select fields from the available fields list" background-color="field-01" no-data-icon="" id="gdqme">
                      <list-item id="q5qe7">
                        <border-layout fill-parent="true" padding="false" id="x4xz9">
                          <middle horizontal-overflow="hidden" id="bjbka">
                            <field value="{item.title}" field-class-name="default" padding="default" hide-label="true" id="jd9_w"/>
                          </middle>
                          <end horizontal-align="end" horizontal-overflow="hidden" id="mpbwm">
                            <button icon="carbon:close--outline" kind="ghost" on-click="removeSeletedItem" on-click-arg="{item}" padding="false" id="qpd2x"/>
                          </end>
                        </border-layout>
                      </list-item>
                    </data-list>
                  </end>
                </border-layout>
              </progress-wizard-step>
              <progress-wizard-step id="stepitem6" label="3.Add actions" secondary-label="Optional">
                <box padding-top="1.5" padding-bottom="1" id="b6m_x">
                  <label label="Select actions to be applied to query items" theme="medium" id="mzydg"/>
                </box>
                <border-layout fill-parent="true" id="eywq2">
                  <start id="y2v8m">
                    <data-list datasource="actionsAvailableDS" title="Available actions" attributes="{['action']}" border="true" height="400" width="350px" tight="true" selected-background-color="field-01" background-color="field-01" data-list-drop-key="datalist" id="qqm7z">
                      <list-item id="rg48p">
                        <border-layout fill-parent="true" padding="false" id="exq_m">
                          <middle horizontal-overflow="hidden" id="q4n_6">
                            <field value="{item.action}" field-class-name="default" padding="default" hide-label="true" id="g249k"/>
                          </middle>
                        </border-layout>
                      </list-item>
                    </data-list>
                  </start>
                  <middle width="5" id="nd_k5">
                    <box padding=".5" id="b78xn"/>
                  </middle>
                  <end id="z_r39">
                    <data-list show-search="false" datasource="editActionsSelectedDS" title="Selected actions" height="400" width="350px" tight="true" selected-background-color="field-01" background-color="field-01" data-list-drag-key="datalist" data-list-drop-key="datalist" empty-row-style="true" no-data-icon="" empty-set-string="Select actions from the available actions list" id="ywg9j">
                      <list-item id="xzr4x">
                        <border-layout fill-parent="true" padding="false" id="jr3w2">
                          <start horizontal-align="start" horizontal-overflow="hidden" id="ynk5n">
                            <!-- <button icon="carbon:edit" kind="ghost" dialog="editAction" padding="false" id="vbqny"/> -->
                          </start>
                          <middle horizontal-overflow="hidden" id="ypk4v">
                            <field value="{item.action}" field-class-name="default" padding="default" hide-label="true" id="dm8w5"/>
                          </middle>
                          <end horizontal-align="end" horizontal-overflow="hidden" id="gb_qq">
                            <button icon="carbon:close--outline" kind="ghost" on-click="removeSeletedItem" on-click-arg="{item}" padding="false" id="anqgx"/>
                          </end>
                        </border-layout>
                      </list-item>
                    </data-list>
                  </end>
                </border-layout>
              </progress-wizard-step>
            </progress-wizard>
          </box>
        </start>
      </border-layout>
      <content-docker docked-position="bottom" background-color="#FFFFFF" id="dbqg9">
        <box direction="row" vertical-align="center" id="yk3d4">
          <box id="mbdkm">
            <button label="Cancel" on-click="onStepReset" icon="carbon:close" on-click-arg="true" padding="true" kind="tertiary" id="q_6r4"/>
            <button label="Back" on-click="getPreviousStep" disabled="{page.state.progressWizardcurrentStepIndex == 3}" icon="carbon:chevron--left" action-icon-fill="gray" kind="secondary" id="dbwjg"/>
            <button label="Next" on-click="getNextStep" hidden="{page.state.progressWizardcurrentStepId==page.state.progressWizardStepIds[5]}" icon="carbon:chevron--right" id="ex_dj"/>
            <button label="Update" hidden="{page.state.progressWizardcurrentStepId!=page.state.progressWizardStepIds[5]}" on-click="updateWorkQueue" icon="carbon:chevron--right" id="vz_k9"/>
          </box>
        </box>
      </content-docker>
    </page>
  </pages>
</maximo-application>
