@charset "utf-8";
/*
 * Licensed Materials - Property of IBM
 * "Restricted Materials of IBM"
 * 5724-U18, 5737-M66
 * (C) COPYRIGHT IBM CORP. 2013,2021 All Rights Reserved.
 * US Government Users Restricted Rights - Use, duplication or
 * disclosure restricted by GSA ADP Schedule Contract with
 * IBM Corp.
 *
 */
/**********************************************************
 * Notes:
 * The style leverages CSS3 Border-radius which not all
 * browsers support. Browser specific statments are 
 * included, otherwise the design will degrade to square
 * corners. As of Oct 10, 2009, IE currently does not 
 * support border-radius or provide a browser shortcut.
 **********************************************************/
 html {
  height: 100%;
   	background-image: linear-gradient(#000000 1px, #3c3c3c 100%);
 	background-image: -webkit-linear-gradient(#000000 1px, #3c3c3c 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#000000', endColorstr='#3c3c3c');
	background: -ms-linear-gradient(#000000 1px, #3c3c3c 100%); 
}
 body {
 	background: none !important;
 }
 
 body > div {
	background: transparent;
 }

 .dialog {
 	background: none !important;
 	border: 0px !important;
 	color: #c0c0c0;
 	padding: 20px 0px;
 } 
 
 .dialog img {
 	margin-top: 8px;
 }
 
 .main_tbl {
 	width: 420px;
 }
  .copyright {
  	border-top: 4px solid #0d85b4;
  	padding-top: 20px;
  }
 
 .copyright p {
 	color: #c0c0c0;
 	display: inline;
 }
 
 .copyright img {
 	display: inline !important;
 	margin: 0px 24px 0px 0px;
 	vertical-align: middle;
 }
 
.defaultibmlogo, .defaultbrandinglogo {
	display: none !important;	
}
 
 input[type="text"], input[type="password"], select {
	font-size: 14px;
	background: #fff !important;
	margin-top: 3px;
	padding: 0px 1px;
	color: #222;
	height: 22px;
	line-height: 22px;
	vertical-align: middle;
	padding-top: 2px;
}

.input_pad {
	padding-top: 10px;	
}

.prod_name {
	display: none !important;
}

.ext_prod_name {
	display: inline !important;
	color: #ffffff;
}

label { 
	color: #adacac;
}

.fednotice
{
	color: #adacac;
}

.tiv_btn
{
	background: transparent;
	background-image: -moz-linear-gradient(#008afb 1px, #085884 100%);
	background-image: linear-gradient(#008afb 1px, #085884 100%);
	background-image: -ms-linear-gradient(#008afb 1px, #085884 100%);
	background-image: -webkit-linear-gradient(#008afb 1px, #085884 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#008afb', endColorstr='#085884');
	text-shadow: 1px 1px 1px rgba(0,0,0,.5);
	border: 1px solid #0a4e74;
	border-radius: 3px;
	cursor: pointer;
	padding: 0px 1em;
	min-width: 87px;
	margin: 2px 0px 20px 0px;
	min-height: 26px;	
	vertical-align:middle;
	color: #fff;
	font-weight: bold;
}
	
.tiv_btn:hover {
	background-image: -moz-linear-gradient(#1a95c5 1px, #206b93 100%);
	background-image: -webkit-linear-gradient(#1a95c5 1px, #206b93 100%);
	background: -ms-linear-gradient(#1a95c5 1px, #206b93 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#1a95c5', endColorstr='#206b93');
	color: #e7e7e7;
}


#error_img {
	vertical-align: top;
	margin-top: 0px;	
}

.errorText {
	padding: 5px;
	background: #fff3f3;
	border: 2px solid #da655f;
	border-radius: 5px;
	margin-bottom: 10px;
}

.exit {
	border: 1px solid #888;
	border-radius: 5px;
	padding: 20px;
}

.exitsep {
	height: 2px;
	background: #0d85b4;
	margin: 20px 0px 15px 0px;
}